{{ $pods := whereExist .Pods "ObjectMeta.Annotations.logs" -}}

filebeat:
  prospectors:
{{- range $pod := $pods -}}
{{ $containerMap := groupBy $pod.Status.ContainerStatuses "Name" }}
{{ $configs := parseJsonSafe $pod.ObjectMeta.Annotations.logs -}}
{{- range $conf := $configs }}
    {{ $container := coalesce (first (index $containerMap (coalesce $conf.container ""))) (first $pod.Status.ContainerStatuses) -}}
    {{ $containerId := trimPrefix $container.ContainerID "docker://" -}}
    {{ if exists (printf "/var/lib/docker/image/btrfs/layerdb/mounts/%s" $containerId) }}
    {{ $res := shell (printf "cat /var/lib/docker/image/btrfs/layerdb/mounts/%s/mount-id" $containerId) -}}
    {{ $baseDir := printf "/var/lib/docker/btrfs/subvolumes/%s" $res.Stdout }}
    -
      # Make sure not file is defined twice as this can lead to unexpected behaviour.
      paths:
        - {{ pathJoin $baseDir $conf.log }}
        - /var/lib/docker/containers/{{ printf "%s" $containerId }}/*.log

      input_type: log

      # Exclude files. A list of regular expressions to match. Default NO drops.
{{- if hasField $conf "exclude_files" }}
      exclude_files:
{{- range $f := $conf.exclude_files }}
        - '{{ $f }}'
{{- end }}
{{ else }}
      exclude_files: [".gz$"]
{{- end }}

      # Ignore files which were modified more then the defined timespan in the past.
      ignore_older: {{ coalesce $conf.ignore_older "" }}

      # Close older closes the file handler for which were not modified
      close_older: {{ coalesce $conf.close_older "" }}

      # Exclude lines.
      exclude_lines:
{{- range $l := $conf.exclude_lines }}
        - '{{ $l }}'
{{- end }}

      fields:
        path: {{ $conf.log }}
        pod: {{ $pod.ObjectMeta.Name }}
        namespace: {{ $pod.ObjectMeta.Namespace }}
{{- range $key, $value := $conf.fields }}
        {{ $key }}: {{ $value }}
{{- end }}{{/* end range fields */}}
        tags: {{ $conf.tags }}

      fields_under_root: true

{{- if hasField $conf "multiline" }}
{{- with $conf.multiline }}
      multiline:
        pattern: '{{ .pattern }}'
        negate: {{ coalesce .negate false }}
        match: {{ coalesce .match "after" }}
        max_lines: {{ coalesce .max_lines "500" }}
        timeout: {{ coalesce .timeout "5s" }}
{{- end }}{{/* end with */}}

{{- end -}}{{/* end multiline */}}

{{- end }}{{/* end directory exists */}}

{{- end }}{{/* end range configs */}}

{{- end }}{{/* end range $pods */}}

  # Defines how often the spooler is flushed.
  idle_timeout: 5s

# Configure what outputs to use when sending the data collected by the beat.
{{- if mapContains .Env "LOGSTASH_HOSTS" }}
  logstash:
    # The Logstash hosts
    hosts:
	{{- range $host := split .Env.LOGSTASH_HOSTS "," }}
      - {{ $host }}
	{{- end }}

    worker: 1
    compression_level: 3
    loadbalance: true

    # Optional index name. The default index name depends on the each beat.
    #index: filebeat
{{ end -}}
{{- if mapContains .Env "CONSOLE_OUTPUT" }}
  console:
{{ end -}}
